* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-color: #256d85;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/*-----header----*/
.header_titulo {
  background-color: #dff6ff;
  padding: 20px;
  margin-top: 1%;
  margin: 1%;
  text-align: center;
}

.navbar_list {
  background-color: #dff6ff;
  display: flex;
  gap: 30px;
  padding: 15px;
  margin: 1%;
  justify-content: end;
}

/*----portada----*/

.portada {
  background-image: url(../img/arquitectura.jpg);
  background-position: center;
  background-size: cover;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada_contenedor-texto {
  text-align: center;
  background-color: rgba(169, 169, 169, 0.568);
  padding: 25px;
}
/*-----DISEÑOS MAS RELEVANTES---*/

.DISEÑOS_MAS_RELEVANTES_TITULO {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin: 1%;
}
/*-----TARJETAS DE ARTICULOS----*/

.tarjetasdeproyecto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.tarjetadecasalasabana {
  padding: 20px;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}
.imgtarjetadelasabana {
  width: 100%;
}

.tarjetacasapionia {
  padding: 20px;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}
.imgcasapionia {
  width: 100%;
}

.intermodallarinconada {
  padding: 20px;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}
.imgintermodallarincoda {
  width: 100%;
}
.bodegonvallearriba {
  padding: 20px;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}
.imgbodegonvallearriba {
  width: 100%;
}

footer {
  text-align: center;
  background-color: #06283d;
  color: beige;
  padding: 5px;
  letter-spacing: 0.15em;
}
